# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
.vsconfig

# Crash / profiler dumps
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties

